#back2 {
  background: url("../img/bgheroes.jpg") no-repeat top,
    url("../img/bgheroes.jpg") no-repeat bottom;
  background-color: #f6e9f0;
}

#back3 {
  background: url("../img/fondowww.jpg") no-repeat;
  background-size: cover;
}
nav {
  width: 100%;
  background-color: #424558;
  grid-row: 1;
  grid-column: 2;
}
nav ul {
  overflow: hidden;
}
nav li {
  list-style-type: none;
  float: left;
}
nav a {
  font-size: 35px;
  display: flex;
  text-decoration: none;
  padding: 35px 55px;
  color: azure;
}
.grid1 {
  display: grid;
  grid-template-rows: 105px 1fr;
  grid-template-columns: 250px 4fr 250px;
}
.buttonbuy {
  grid-row: 1;
  grid-column: 3;
  background-color: #ff8300;
}
.buttonbuy a {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-decoration: none;
  color: white;
}
.buttonbuy:hover {
  background-color: #cc6a01;
}

.menu-accueil:hover {
  border-top: 7px solid #e44d26;
  background-color: rgba(228, 77, 38, 0.15);
}
.menu-heros:hover {
  border-top: 7px solid #0070bb;
  background-color: rgba(000, 112, 192, 0.15);
}
.menu-cartes:hover {
  border-top: 7px solid #f1dc4f;
  background-color: rgba(241, 211, 79, 0.15);
}
.menu-event:hover {
  border-top: 7px solid #bbb;
  background-color: rgba(220, 220, 220, 0.15);
}

nav li:hover a {
  padding: 28px 55px 35px 55px;
}
.table {
  display: table;
  margin: 0 auto;
}
.logosize {
  background-color: #424558;
  width: 106px;
  grid-row: 1;
  grid-column: 1;
}
.videoacc {
  z-index: -1;
  width: 100%;
  position: fixed;
}

.logopng {
  z-index: 1;
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.plateforme {
  z-index: 1;
  width: 23%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
